body {
  font-family: sans-serif;
}

h1{
	margin-top: 0px;
	padding-bottom: 10px;
}
#root{
	margin:30px 50px;
}

.inline{
	vertical-align:middle;
}

.right-side{
	text-align: right;
}

.breadcrumb{
	padding: 0px;
	background-color: white;
}

.input-group-addon{
	background-color: white;
	border:0px;
}

.vertical-middle-text{
	padding-top: 8px;
}

.btn-line{
	margin-bottom: 20px;
}
.clean-padding{
	padding: 0px;
}